---
http_interactions:
- request:
    method: get
    uri: https://api.bcra.gob.ar/estadisticascambiarias/v1.0/Cotizaciones/EUR?fechadesde=2024-06-01&fechahasta=2024-06-30&limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Jws-Signature:
      - eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImlhdCI6MTc3Njc0OTQ5MiwiZXhwIjoxNzc2Nzc4MjkyfQ..Wf4owdurLYBc085HI25wcxS9U_RqcI9kHg8FjGJ28cMZHp1aBfP2EbOwszstl4gK8AkJ_7BNIXUqq2kMw6N5ruVYyUlSbcod8jCtqgsYMoi0M1DdbYHFcIieviusqUwpOtwszvBTtKtjuyJZBNq37ssF5DvFS1G-1tDtHJqGwPaUHioxy7YGcbHcRdSFO_WAYrc3zmYDuM9bx1sQvhFEd-CMtXE5GJKv0AGceSP7UrnBwOlJNEbDvRKp3mfLkvBZV93x-J8GHHM0Jcnk1JudZwdy1ME2-WTHHlUTeeMs0dBapmonzPGB_fhD59jGywyRmzX5lR4xjskIIyBgbiQ5IQ
    body:
      encoding: UTF-8
      string: '{"status":200,"metadata":{"resultset":{"count":17,"offset":0,"limit":1000}},"results":[{"fecha":"2024-06-28","detalle":[{"codigoMoneda":"EUR","descripcion":"EURO","tipoPase":1.07140000,"tipoCotizacion":977.11680000}]},{"fecha":"2024-06-27","detalle":[{"codigoMoneda":"EUR","descripcion":"EURO","tipoPase":1.07030000,"tipoCotizacion":975.57845000}]},{"fecha":"2024-06-26","detalle":[{"codigoMoneda":"EUR","descripcion":"EURO","tipoPase":1.06850000,"tipoCotizacion":973.40350000}]},{"fecha":"2024-06-25","detalle":[{"codigoMoneda":"EUR","descripcion":"EURO","tipoPase":1.07140000,"tipoCotizacion":973.90260000}]},{"fecha":"2024-06-24","detalle":[{"codigoMoneda":"EUR","descripcion":"EURO","tipoPase":1.07[...]
