---
http_interactions:
- request:
    method: get
    uri: https://api.bcra.gob.ar/estadisticascambiarias/v1.0/Cotizaciones/USD?fechadesde=2024-06-12&fechahasta=2024-06-12&limit=1000&offset=0
    body:
      encoding: US-ASCII
      string: ""
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"metadata":{"resultset":{"count":0,"offset":0,"limit":1000}},"results":[]}'
  recorded_at: "Sun, 12 Apr 2026 18:10:00 GMT"
recorded_with: VCR 6.2.0
