<article class="kpi-card">
  <p class="kpi-card__title"><%= @title %></p>
  <p class="kpi-card__value"><%= @value %></p>
  <% if @subtitle.present? %>
    <p class="kpi-card__subtitle"><%= @subtitle %></p>
  <% end %>
</article>
